#a{
    background: black;
}
.a{
    background: blue;
}
.b{
    background: red;
}
.c{
    background: green;
}
.d{
    background: aqua;
}
.e{
    background: olive;
}
.f{
    background: yellow;
}
.g{
    background: lightcyan;
}
.h{
    background: teal;
}
.i{
    background: navy;
}
.j{
    background: magenta;
}